<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>RESTful.clientLibrary</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Monitor the managed resource (Library)</description>
    <display-name>Monitor</display-name>
    <servlet-name>Monitor</servlet-name>
    <servlet-class>RESTful.clientLibrary.MAPEK.Monitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Monitor</servlet-name>
    <url-pattern>/monitor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPolicy</display-name>
    <servlet-name>GetPolicy</servlet-name>
    <servlet-class>RESTful.clientLibrary.policy.resources.GetPolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPolicy</servlet-name>
    <url-pattern>/GetPolicy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPolicy</display-name>
    <servlet-name>AddPolicy</servlet-name>
    <servlet-class>RESTful.clientLibrary.policy.resources.AddPolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPolicy</servlet-name>
    <url-pattern>/AddPolicy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePolicy</display-name>
    <servlet-name>DeletePolicy</servlet-name>
    <servlet-class>RESTful.clientLibrary.policy.resources.DeletePolicy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePolicy</servlet-name>
    <url-pattern>/DeletePolicy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Analyzer</display-name>
    <servlet-name>Analyzer</servlet-name>
    <servlet-class>RESTful.clientLibrary.MAPEK.Analyzer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Analyzer</servlet-name>
    <url-pattern>/Analyzer</url-pattern>
  </servlet-mapping>
</web-app>